/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1199px) {

}

@media only screen and (max-width: 1190px) {
.menu-fixed-top, .menu-fixed-bottom {
	width: 970px;
}
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1024px) {

}
@media only screen and (max-width: 991px) {
.menu-fixed-top, .menu-fixed-bottom {
	width: 750px;
}
.menu-fixed-bottom .bottom .label {
	left: 25px;
}
.menu-fixed-bottom .bottom .line {
	left: 53px;
}
.about .container {
	padding: 100px 0;
}
.about .container .text p {
	font-size: 25px;
	line-height: 45px
}
.about .container .text h1 {
	font-size: 25px;
}
.portfolio h1 {
	font-size: 25px;
}
.portfolio #owl .item h1 {
	font-size: 18px;
}
.portfolio #owl .item a {
	font-size: 18px;
}
footer {
	height: 100%;
}
footer .footer-f {
	position: inherit;
}
footer .footer-f .container .left h1 {
	font-size: 25px;
}
footer .footer-f .container .right h2 {
	margin: 17.5px 0 0;
}
footer .footer-f .container .right h2 a {
	font-size: 16px;
}
footer .footer-f .container .left .soc-net h2 a {
	font-size: 14px;
}
}

@media only screen and (max-width: 823px) {
.portfolio #owl .item {
	padding: 40px 0px;
}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {
.menu-fixed-top, .menu-fixed-bottom {
	width: 100%;
}
.menu-fixed-bottom .bottom .label {
	left: -15px;
}
.menu-fixed-bottom .bottom .line {
	left: 11px;
}
header .row .container .center {
	padding-top: 140px;
}
header .row .container .center h1 {
	font-size: 45px;
}
.about .container {
	padding: 80px 0;
}
.about .container .text p {
	font-size: 20px;
	line-height: 40px;
}
.about .container .text h1 {
	font-size: 20px;
}
.portfolio h1 {
	font-size: 20px;
}
.portfolio #owl .item h1 {
	font-size: 16px;
}
.portfolio #owl .item a {
	font-size: 14px;
}
footer {
	height: 439.5px;
}
footer .footer-f .container .right {
	margin: 50px 0 0;
}
footer .footer-f .container .left h1 {
	margin: 0 0 20px;
	font-size: 20px;
	line-height: 40px;
}
}

@media only screen and (max-width: 736px) {


}

@media only screen and (max-width: 667px) {

}

@media only screen and (max-width: 650px) {
.portfolio #owl .item {
	padding: 40px 20px;
}
.portfolio #owl .item .info {
	height: 300px;
}
}

@media only screen and (max-width: 600px) {
.about .container {
	padding: 60px 0;
}
.about .container .text p {
	font-size: 18px;
	line-height: 30px;
}
.about .container .text h1 {
	font-size: 18px;
}
.portfolio h1 {
	font-size: 18px;
}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 520px) {

}
@media only screen and (max-width: 497px) {

}

@media only screen and (max-width: 507px) {

}

@media only screen and (max-width: 380px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {

}

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {

  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {


}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {

}
